#Azure OpenAI configuration
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_BASE_URL=""  
AZURE_OPENAI_API_VERSION=""
AZURE_DEPLOYMENT_NAME=""


#Azure AI Foundry configuration
AZURE_AI_API_KEY=""
AZURE_AI_ENDPOINT=""
DEFAULT_AI_MODEL=""